
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ confi initial ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/* ▄▄▄▄▄▄▄ confi initial ▄▄▄▄▄▄▄*/
/*
body {
    max-width: 1200px;
    margin: 0 auto;
}
*/

h1,h2,h3,h4,h5{
    text-align: center;
}

table, th, td {
    border: 1px solid black
}


/* ▓▓▓▓▓▓▓▓▓▓▓ gradientes  ▓▓▓▓▓▓▓▓▓▓▓▓*/

.gradiente0{
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}
.gradiente1{
    background: rgb(99,54,182);
    background: linear-gradient(90deg, rgba(99,54,182,1) 28%, rgba(27,172,176,1) 69%);
}
.fondo_image{
    background-image:url(img/gradiente1.png);
}
#gradiente_fondo{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding:8px;
    /*text-align: gradiente_fondo;*/
    font-family:  'Open Sans Medium', sans-serif;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓ NAV ▓▓▓▓▓▓▓▓▓▓▓▓*/
.navbar a{
  font-weight: 480;
}


/* ▓▓▓▓▓▓▓▓▓▓▓▓ Hero Section ▓▓▓▓▓▓▓▓▓▓▓▓*/
#hero {
    width: 100%;
    height: 72vh;
    background: #3639dc;
  }
  
  #hero .container {
    padding-top: 3rem;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
  }
  
  #hero .btn-get-started:hover {
    background: #209dd8;
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
  }
  
  #hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover i {
    color: #47b2e4;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
  


  /* ▓▓▓▓▓▓▓▓▓▓▓▓ fichas ▓▓▓▓▓▓▓▓▓▓▓▓*/

#fichas {
  background-color: #5a2469;
  padding: 0.8rem 0.3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}
.ficha {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  margin: 0.3rem 0.4rem;
  background-color: #f3f3f3;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  border: 2px solid #b9b9b9d0;
}
.ficha:hover {
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3) ;
}
.ficha a {
  display: flex;
  text-decoration: none;
  color: #1f1f1f;
  align-items: center;

}
.ficha a:hover {
  color: #0d6efd;
}

.ficha_transparente a {
  display: flex;
  text-decoration: none;
  align-items: center;

}
.ficha_transparente a:hover {
  color: #0d6efd;
}

.ficha img {
  width: 42px;
  height: 42px;
}

.ficha p {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-left: 0.5rem;
  font-weight: 500;
}

.ficha_transparente {
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.3rem 1rem;
margin: 0.2rem 0.4rem;

transition: box-shadow 0.3s ease;
border: 2px solid #7b7b7bd0;

background: rgba(255, 255, 255, .1);
z-index: 1;
border-radius: 20px;
backdrop-filter: blur(10px);
}
.ficha_transparente:hover {
box-shadow: 0 0.2rem 0.4rem rgba(255, 255, 255, 0.3) ;
}
.ficha_transparente img
{
width: 42px;
height: 42px;
}
.ficha_transparente p {
display: flex;
text-align: center;
margin: 0 auto;
padding-left: 0.5rem;
font-weight: 500;
color: #f3f3f3;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓ tarjetas ▓▓▓▓▓▓▓▓▓▓▓▓*/
.tarjetas{
  margin:10px auto;
  box-shadow: 1px 4px 10px 2px #aaaaaa;
  border: 1px  gray;
}

/* ▄▄▄▄▄▄▄ TOOL CSS tarjetas collapse ▄▄▄▄▄▄▄*/
.post {
  transition: box-shadow 0.3s ease;
/*  transition: *propiedad *tiempo transicion *algoritmoAcerleracion(ease,ease-in,ease-in-out,ease-out, linear) ; */

  background-color: rgb(248, 248, 248);
  margin: 1rem 0;
  border-radius: 20px;
  padding: 1rem 0;
  cursor: pointer;
  /* max-width: 400px; */
  border: 2px solid #b9b9b99c;
}
.post:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3) ;
}

.post h5, .post p {
  margin: 0.8rem;
} 
.post h5 {
  text-align:center;
  font-size: 25px;
}
.post a {
  text-decoration: none;
  color: black;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Footer ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

footer {
  background-color: #3d3939;
  padding: 1.5rem ;
  color: white;
}
footer section {
  float: right;
}

/*en este caso se deja el margen ya que auda a tener un espacio abajo
ya que lo que se floto tine dos lineas esa linea del p ayuda a dar simetria*/
/*
footer p {
  margin: 0;
}
*/
footer a {
  transition: color 0.3s ease;
  color:wheat;
  text-decoration: none;
}

footer a:hover {
  color:cornflowerblue;
}



/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ MEDIA ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

@media (max-width: 991px) {
  #hero {
    height: 90vh;
    text-align: center;
  }
  #hero .container {
    padding-top: 0rem;
  }

  #hero h1 {
    font-size: 42px;
  }
  #hero h2 {
    font-size: 20px;
  }
  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
  #hero .container {
    padding-top: 0.5rem;
  }
  #hero h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  /* ▄▄▄▄▄▄▄ fichas ▄▄▄▄▄▄▄*/

  #fichas .ficha {
    padding: 0.2rem 1rem;
    border: 2px solid #b9b9b9d0;
  }
  #fichas .ficha img {
    width: 35px;
    height: 35px;
  }
  #fichas .ficha p {
    font: size 10px; 
  }

  #fichas .ficha_transparente {
    padding: 0.2rem 1rem;
    border: 2px solid #b9b9b9d0;
  }
  #fichas .ficha_transparente img {
    width: 35px;
    height: 35px;
  }
  #fichas .ficha_transparente p {
    font: size 10px; 
  }

}

@media (max-width: 768px) {

  #hero {
    height: 65vh;
  }

  #hero .container {
    padding-top: 0.5rem;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  #hero .hero-img img {
    width: 55%;
  }
}

@media (max-width: 575px) {
  #hero .container {
    padding-top: 0.5rem;
  }

  #hero .hero-img img {
    width: 60%;
  }

  #hero h1 {
    font-size: 28px;
  }
  #hero h2 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 0 1rem;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

  /* ▄▄▄▄▄▄▄ ficahs ▄▄▄▄▄▄▄*/

  #fichas .ficha {
    padding: 0.15rem 1rem;
    margin: 0.2rem 0.2rem;
    border: 1px solid #b9b9b9d0;
  }
  #fichas .ficha_transparente {
    padding: 0.2rem 1rem;
    border: 1px solid #b9b9b9d0;
  }

}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}